.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
}

.feed-form {
    display: flex;
    justify-content: left;
    align-items: stretch;
    margin-left: 3rem;
    padding: 5px;
}

label,
input {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.add-btn {
    height: 2rem;
    width: 3rem;
    justify-self: center;
}

.list-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-item {
    width: 20rem;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.25rem;
    margin: 5px;
}