footer {
    padding: 0px 50px 0px 0px;
    min-height: 100px;
    background: rgb(176, 0, 0);
    margin-top: auto;
    color: white
}

.footer-list {
    list-style: none;
    justify-self: center;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: row;
    /* max-width: 50rem; */
    justify-content: space-between;
    align-items: center;
}